# Data Analyst Bootcamp
## Alex the Analyst - Python Series

YouTube: [source](https://www.youtube.com/watch?v=dUpyC40cF6Q&list=PLUaB-1hjhk8FE_XZ87vPPSfHqb6OcM0cF&index=57)

In [1]:
import pandas as pd

# Reading Files in Pandas

- reading in csv files
- looking at data

**When reading in csv files, make sure to include the path of file within the title input.**

## **CSV Files**

In [2]:
# Reading in a csv file & assinging it to a variable
countries = pd.read_csv('datasets/countries of the world.csv')

#calling the dataframe
countries

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

## Excel Files

**By default, pandas will only read the first sheet of the file.**

In [3]:
# Reading in an excel file
population = pd.read_excel('datasets/world_population_excel_workbook.xlsx')

#calling the dataframe
population

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

**However, you *can* specify which sheet(s) you'd like to read**

### **When Specifying Sheets**
- The arguments sheet_name allows specifying the sheet or sheets to read.
- The default value for sheet_name is 0, indicating to read the first sheet
- Pass a string to refer to the name of a particular sheet in the workbook.
- Pass an integer to refer to the index of a sheet. Indices follow Python convention, beginning at 0.
- Pass a list of either strings or integers, to return a dictionary of specified sheets.
- Pass a None to return a dictionary of all available sheets.

[source: wiki](https://pandas.pydata.org/docs/user_guide/io.html#specifying-sheets)

In [4]:
# Reading in 'sheet1' of the excel file (in this file, 'sheet1' is the second sheet within the workbooks)
other_pop_sheet = pd.read_excel('datasets/world_population_excel_workbook.xlsx', sheet_name = 'Sheet1')

#calling the dataframe
other_pop_sheet

     Rank CCA3            Country           Capital
0      36  AFG        Afghanistan             Kabul
1     138  ALB            Albania            Tirana
2      34  DZA            Algeria           Algiers
3     213  ASM     American Samoa         Pago Pago
4     203  AND            Andorra  Andorra la Vella
..    ...  ...                ...               ...
229   226  WLF  Wallis and Futuna          Mata-Utu
230   172  ESH     Western Sahara         El AaiÃºn
231    46  YEM              Yemen             Sanaa
232    63  ZMB             Zambia            Lusaka
233    74  ZWE           Zimbabwe            Harare

[234 rows x 4 columns]

### **By default, whenever you call a dataframe, you're gonna receive the first and last 5 rows of data.**
Use the `.head(n)` and `.tail(n)` methods to display n-amount of rows respectively.

**Using `df.head()`**

In [20]:
# returning the top 2 rows
other_pop_sheet.head(2)

   Rank CCA3      Country Capital
0    36  AFG  Afghanistan   Kabul
1   138  ALB      Albania  Tirana

**Using `df.tail()`**

In [19]:
# returning the bottom 2 rows
other_pop_sheet.tail(2)

     Rank CCA3   Country Capital
232    63  ZMB    Zambia  Lusaka
233    74  ZWE  Zimbabwe  Harare

### **By using `.info` We can get information regarding our dataframe's number of entries, column names, dtypes, and non-null counts**

**Using `df.info`**

In [23]:
# Returning the database's info
other_pop_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     234 non-null    int64
 1   CCA3     234 non-null    object
 2   Country  234 non-null    object
 3   Capital  234 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.4+ KB

### **By using `.describe` We can get a basic summary of our dataframe.**

**NOTE: This is only valuable when used on numerical values, not objects.**

In [24]:
# Getting a basic summary of the 'Rank' column since it's the only numeric column
other_pop_sheet.describe()

             Rank
count  234.000000
mean   117.500000
std     67.694165
min      1.000000
25%     59.250000
50%    117.500000
75%    175.750000
max    234.000000

# - NAME OF NEXT VIDEO IN THE PLAYLIST -